@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.main-container {
  width: 100%;
  height: 100%;
  background-color: #eef5ff;
  background-size: cover;
  padding: 10px;
}

.content-container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.job-title {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 900;
  color: #ffc436;
}

.person-name {
  font-family: 'PT Serif';
  font-size: 24px;
  font-weight: 900;
  color: #3d3b40;
  margin: 0;
}

.personal-description {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #6b728e;
}

.buttons-container {
  margin: 10px;
}

.projects-button {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #0c356a;
  border: none;
  border-radius: 10px;
  background-color: #ffc436;
  padding: 7px 15px 7px 15px;
  margin-right: 5px;
}

.linkedin-button {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
  color: #0c356a;
  border: 1px solid #0c356a;
  background-color: transparent;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eef5ff;
  height: 100vh;
}

.add-project-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-project {
  font-family: 'PT Serif';
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  align-self: center;
  padding-bottom: 10px;
  border-bottom: 5px solid #ffc436;
}

.label-element {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  padding: 10px 10px 10px 0;
}

.input-element {
  width: 100%;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  padding: 5px;
  margin: 0 0 10px 0;
  background-color: transparent;
  border: 1px solid #000000;
}

.input-element-textarea {
  width: 100%;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #000000;
}

.add-button {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  padding: 7px 12px 7px 12px;
  margin: 5px 0 5px 0;
  width: 20%;
  align-self: flex-end;
  color: #000000;
  background-color: #ffc436;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .main-container {
    padding: 20px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 50%;
    padding: 10px 10px 10px 100px;
  }

  .job-title {
    font-size: 24px;
  }

  .person-name {
    font-size: 38px;
  }

  .personal-description {
    font-size: 18px;
  }

  .buttons-container {
    margin: 10px;
  }

  .projects-button {
    font-size: 16px;
    color: #0c356a;
    padding: 10px 25px 10px 25px;
    margin-right: 20px;
  }

  .linkedin-button {
    font-size: 16px;
    padding: 10px 25px 10px 25px;
  }

  .add-project {
    font-size: 38px;
  }

  .label-element {
    font-size: 16px;
    padding: 10px 10px 10px 0;
  }

  .input-element {
    font-size: 16px;
    padding: 10px;
    margin: 0 0 10px 0;
  }

  .input-element-textarea {
    padding: 10px;
  }

  .add-button {
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    margin: 20px 0 10px 0;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    padding: 20px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 10px 10px 10px 100px;
  }

  .job-title {
    font-size: 34px;
  }

  .person-name {
    font-size: 54px;
  }

  .personal-description {
    font-size: 24px;
  }

  .buttons-container {
    margin: 10px;
  }

  .projects-button {
    font-size: 16px;
    color: #0c356a;
    padding: 10px 25px 10px 25px;
    margin-right: 20px;
  }

  .linkedin-button {
    font-size: 16px;
    padding: 10px 25px 10px 25px;
  }

  .add-project {
    font-size: 54px;
  }

  .label-element {
    font-size: 18px;
    padding: 10px 10px 10px 0;
  }

  .input-element {
    padding: 10px;
    margin: 0 0 10px 0;
  }

  .input-element-textarea {
    padding: 10px;
  }

  .add-button {
    font-size: 18px;
    padding: 12px 20px 12px 20px;
    margin: 20px 0 10px 0;
  }
}
