.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eef5ff;
  padding: 0 10px 0 10px;
}

.name-heading {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400px;
  color: #000000;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.list-item {
  text-decoration: none;
  padding: 0 5px 0 5px;
}

.custom-button {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400px;
  color: #000000;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .header-container {
    padding: 0 15px 0 15px;
  }
  .name-heading {
    font-size: 18px;
  }

  .list-item {
    padding: 0 10px 0 10px;
  }

  .custom-button {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    padding: 0 25px 0 25px;
  }

  .name-heading {
    font-size: 20px;
  }
  .list-item {
    padding: 0 15px 0 15px;
  }

  .custom-button {
    font-size: 18px;
  }
}
